<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educational Platform</title>
    <link rel="stylesheet" href="static\style.css">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo"><img src="static\kietimage.png" width="70px" height="70vh"></h2>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/About">ABOUT</a></li>
                    <li><a href="/Services">SERVICE</a></li>
                    <li><a href="/Course">COURSE</a></li>
                    <li><a href="/Contact">CONTACT</a></li>
                </ul>
            </div>
            <div class="search">
                <input class="srch" type="search" name="" placeholder="Type To Text">
                <a href="#"><button class="btn">Search</button></a>
            </div>
        </div>
        <div class="content">
            <h1>Educational <br><span>Platform</span><br>Course</h1>
            <p class="par">Learning is the constant heartbeat of intellectual growth, <br>where curiosity fuels the rhythm of knowledge acquisition.</p>
            <img src="static\Curriculum.jpeg" width="200px" height="200px">
            <div class="form">
                <h2>Login Here</h2>
                <input type="email" name="email" placeholder="Enter Email Here">
                <input type="password" name="password" placeholder="Enter Password Here">
                <button class="btnn"><a href="/Course">Login</a></button>
                <p class="link" style="color: white;">Don't have an account?</p><br>
                <a href="/Signup">Signup</a> 
                <p class="liw" style="color: white;">Log in with</p>
            </div>
        </div>
    </div>
</body>
</html>
